@import "tailwindcss";

@theme {
  --color-softGray: #F0F0F0;
  --color-paleGray: #F2F0F1;
  --color-pearlGray: #F0EEED;
  --color-goldenAmber: #FFC633;
  --color-cherryRed: #FF3333;
  --color-emeraldGreen: #01AB31;
}

@font-face {
  font-family: Satoshi;
  src: url('/src/assets/fonts/Satoshi-Variable.ttf')
}

@font-face {
  font-family: Integral CF;
  src: url('/src/assets/fonts/Integral\ CF.ttf')
}

@theme {
  --font-satoshi: Satoshi, "sans-serif";
  --font-IntegralCF: Integral CF, "sans-serif";
}

* {
  scrollbar-width: thin;
  overflow-x: hidden;
}

/* .nav-container {
  @apply flex flex-row mx-auto items-center justify-between lg:gap-[40px] w-full;
} */

.nav-container {
  @apply flex flex-row lg:grid lg:grid-cols-12 justify-between py-[14px] lg:py-[24px] lg:justify-evenly gap-[40px] items-center w-full;
}

.nav-links {
  @apply flex text-nowrap shrink-0 items-center gap-[24px] text-black font-satoshi
}